.ant-layout{
    background-color: #334454;
    background-image: url(../src/components/layout/img/moshed.gif);
    background-size:cover;
}

.bread{
    margin: 15px 0px;
    color: white;
}

p{
    text-align: center;
    color: white;
}

h1{
    text-align: center;
    color: white;
}

.MuiPaper-root {
    background-color: #001529;
}